.step-line {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border: 1px solid #fff;
  }

  .step-dot {
    background-color: #3F5D45;
    z-index: 1;
    border-radius: 50px;
    color: #fff;
    overflow: hidden;
  }

}

.step-linedark {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border: 1px solid #3F5D45;
  }

  .step-dotdark {
    background-color: #fff;
    z-index: 1;
    border-radius: 50px;
    color: #3F5D45;
    overflow: hidden;
  }

}